#demo {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin: 15px auto 0 auto;
}

.ow-widget {
  background-color: var(--secondary);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: var(--boxtext);
  padding: 2%;
  text-align: center; /* Center text */
}

.ow-row {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 8px;
}

.ow-city-name {
  font-size: 18px;
}

.ow-ico-current {
  font-size: 80px;
}

.ow-temp-current {
  font-size: 60px;
  margin: 0 10px; /* Space around the temperature */
}

.ow-current-desc {
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 10px; /* Space below temperature and icon */
}

.pull-left {
  float: left; /* This can be removed since we're using flexbox */
}

.pull-right {
  float: right; /* This can be removed since we're using flexbox */
}

.ow-forecast-item {
  float: left; /* Consider removing this if using flexbox */
  width: calc(25% - 1px);
  text-align: center;
  border-right: 1px solid white;

  &:last-child {
    border-right: 0;
  }

  .ow-ico-forecast {
    font-size: 30px;
    font-family: weathericons;
    position: relative;
    margin: 10px 0;
  }

  .ow-forecast-temp span {
    display: inline-block;
    margin: 0 5px;
  }
}
